<div class='new-comment'>
      <%= render 'form' %>
   </div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Todo Items</th>
     </tr>
  </thead>
  <% @todos.each_with_index do |todo, index| %>
    <tr>
      <td><%= index + 1 %> </td>
      <td><%= todo.description %></td>
      <td><p><%= link_to [@list, todo], method: :delete do %>
          
        <i class="fa fa-check-square"></i>
       <% end %>
        </p></td>
      <% end %>
    </tr>
 
  
</table>

