<br/>
<div class="jumbotron">
  <h1>listapp</h1>
  <p>Listapp is a stepping stone to a more organized life</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>